<div class="button-container SurchargeDiv">
    <h1 class="Titre">{{ InfoEquipe?.Nom_Equipe }}</h1>
    <h2 class="SousTitre"> {{ InfoEquipe?.Jour_Match }} {{ InfoEquipe?.Heures_Match }} </h2>
    @if (sameCategory) {
    <div class="capitaine-info">
        {{ InfoEquipe?.capitaine?.Prenom }} {{ InfoEquipe?.capitaine?.Nom }}
        &nbsp;
        <img class="icone-mail" (click)="openMail()" src="assets/send-mail.png">

        <!-- <a href="mailto:{{ InfoEquipe?.capitaine?.Mail1 }}">{{ InfoEquipe?.capitaine?.Mail1 }}</a> -->
        <button (click)="callNumber()">{{ InfoEquipe?.capitaine?.TelPortable }}</button>
    </div>
    }

    <div style="text-align:center;">
        <B>Gymnase :</B> 
        @if (InfoEquipe?.gymnase?.Nom_Gymnase) {
            {{ InfoEquipe?.gymnase?.Nom_Gymnase }} : 
        }
        {{ InfoEquipe?.gymnase?.Adresse }}, {{InfoEquipe?.gymnase?.Commune }} <br>
    </div>
    <div id="map"></div>

</div>

<!-- Pb se retaille et le titre n'est plus visible -->