#map {
  height: 300px;   /* ou 400px, ou 100vh */
  width: 100%;
  display: block;
  flex: none;
}

.capitaine-info {
  display: flex;
  align-items: center;
  gap: 10px; /* espace entre les éléments */
}
