<div class="centre">
  <h2>
    @if ((Lieu == "D")) {
    <p>
      <button class="bouton-equipe" (click)="this.router.navigate(['info-equipe'],
                                                { state: {  codeEquipe: codeEquipeConnectee, codeCategorie: 0 }})">
        {{ nomEquipeConnectee }}
      </button>
      {{separator}}
      <button class="bouton-equipe" (click)="this.router.navigate(['info-equipe'], 
                                                { state: {  codeEquipe: codeAdversaire, codeCategorie: 0 }})">
        {{ nomAdversaire }}
      </button>
    </p>
    } @else {
    <p>
      <button class="bouton-equipe" (click)="this.router.navigate(['info-equipe'], 
                                                { state: {  codeEquipe: codeAdversaire, codeCategorie: 0 }})">
        {{ nomAdversaire }}
      </button>
      {{separator}}
      <button class="bouton-equipe" (click)="this.router.navigate(['info-equipe'],
                                                { state: {  codeEquipe: codeEquipeConnectee, codeCategorie: 0 }})">
        {{ nomEquipeConnectee }}
      </button>

    </p>
    }
  </h2>
  <h3>{{ DateMatch | date:'dd/MM/yyyy' }} </h3>

  <!-- <input #myInput class="score" /> -->
  @if (ScoreArray[0] != null && (ScoreArray[0] + ScoreArray[1]) > 0) {
    <p><b>Score :</b> {{ ScoreArray[0] }} / {{ ScoreArray[1] }} </p>
  }

  <!-- Values : {{ sets | json }} <BR> -->

  @if (bScoreModifiable == true) {
    @if (sets != []){
      @for (i of [1,2,3,4,5]; track i) {
        @if (i < iVisibleSlider) { 
          <button class="bouton" (click)="augmenteScore(i, 0)">+</button>
          <input #myInput class="score" 
            [value]="(sets[i-1]?.[0] ?? 0) > 0 ? sets[i-1]?.[0] : ''" (input)="onScoreChange(i, 0, $event.target.value)" /> 
           -  
          <input #myInput class="score"
            [value]="(sets[i-1]?.[1] ?? 0) > 0 ? sets[i-1]?.[1] : ''" (input)="onScoreChange(i, 1, $event.target.value)"/>
        
          <button class="bouton" (click)="augmenteScore(i, 1)">+</button>

          @if (i == iVisibleSlider - 1) {
            <!--   Sur le dernier set saisi, on affiche le bouton effacer -->
            <button class="boutonGomme" (click)="effacerSet()" mat-raised-button color="primary">
              <img src="assets/gomme.png" alt="Effacer" width="20" height="20" />
            </button>
          }
        <BR>
        }

      }
    }
  } 
  @else {
    @if (sets != []) {
      @for (i of [1,2,3,4,5]; track i) {
        @if (sets[i-1]?.[0] != null ) {
          {{sets[i-1]?.[0]}} - {{sets[i-1]?.[1]}}
          <BR>
        }
      }
    }
    <!-- <p>Score non modifiable</p> -->
  }

  <BR>
    <button mat-button (click)="retourPagePrecedente()">Retour</button>
  @if (iVisibleSlider > 1 ) {
    @if (bScoreDejaValideParTous == false) {
      &nbsp;&nbsp;
      <button (click)="validationScore()" mat-raised-button color="primary" [disabled]="!bValidScore">
      @if (bScoreModifiable == true) {
        Valider
      } @else {
        Confirmer
      }
      </button>
    }
  }
  @if (bScoreDejaValideParTous == true) {
    <p>Score déjà validé par les 2 équipes. Contacter l'administrateur pour le modifier.</p>
  }
  @else if (!bScoreModifiable == true) {
    <p>Score déjà saisi par l'adversaire</p>
  }
    

</div>